# Next.js / UI
ui/node_modules
ui/out
ui/.next
api/ui/out

# Binaries
helmify-api
helmify
helmify-pro

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
testbin/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
.vscode/

# Build artifacts
dist/
vendor/
portal-certidao/
test-output/
test-output.tar.gz